*{
    font-family: cursive;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,rgb(43, 78, 166),rgb(3, 249, 232));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: white;
    width: fit-content;
    padding: 50px;
    box-shadow: 5px 5px 10px;
}

input{
    padding: 10px;
    border-radius: 5px;
}

h1{
    color: hotpink;
}

input[type="button"]{
    background-color: orange;
}

label{
    color:blue;
}